
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Willkommen auf der Views-Index-Seite!</title>
</head>
<body>
    <h1>Willkommen auf der Views-Index-Seite!</h1>
</body>
</html>
