
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PassingData1</title>
</head>
<body>

    <h1>@ViewBag.MyPersonalData</h1>
</body>
</html>
