
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
</head>
<body>
    <h1>Demo Layout</h1>
    <p>@ViewBag.MyData</p>
</body>
</html>
