
@{
    ViewData["Title"] = "UseViewComponent";
}

<h2>UseViewComponent</h2>



@await Component.InvokeAsync("Books", new Dictionary<string, object>() {

    ["data"] = "data from the view to the view component",

    ["book"] = new Book { Title = "TestTitel", Author = "Myuthor", IsPublished = false }



})