@{
    ViewData["Title"] = "Create";
}
@model Book
<h2>Create</h2>

@*@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Title)
    @Html.EditorFor(m => m.Title)

}*@

@Html.EditorForModel()


@*<form method="post" action="/BooksService/Create">

    <input type="text" id="title" name="title" />
    <br />
    <input type="text" id="publisher" name="publisher" />
    <br />
    <button type="submit">Send</button>
</form>*@

<environment include="Development, Staging">

</environment>

