<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        <div>a section</div>
        @RenderSection("Mysection", required: false)
    </div>
</body>
</html>
